<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Flist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Your characters</h1>
    <div id="panel">
        <!-- Существующий перс -->
        <div class="block">
            <div><img id="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPtCBdlq4hR6jNFFtkxEYrgJoOgnsMgKp3PQ&s"></div>
            <div>Name</div>
            <div>Rename</div>
            <div>Delete</div>
        </div>

        <!-- Справа создается перс -->
        <div class="block">
            <div><img id="avatar-preview" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPtCBdlq4hR6jNFFtkxEYrgJoOgnsMgKp3PQ&s"></div>
            <input type="file" id="avatar-input" style="display: none;">
            <button onclick="document.getElementById('avatar-input').click()">+</button>
            <div><input type="text" id="character-name" placeholder="Enter name"></div>
            <div onclick="createCharacter()" style="cursor: pointer;">Create</div>
        </div>
    </div>
    
    <p>Or open <a href="{{ url_for('view_char', name='jbka') }}">Jbka</a></p>

    {% if not logged_in %}
        <section id="auth">
            <h2>Login</h2>
            <form id="login_form">
                <input name="username" placeholder="Login">
                <input name="password" type="password" placeholder="Pass">
                <button>Enter</button>
            </form>
            <h2>Register</h2>
            <form id="register_form">
                <input name="username" placeholder="Login">
                <input name="password" type="password" placeholder="Pass">
                <button>Register</button>
            </form>
            <p id="auth_message"></p>
        </section>
    {% else %}
        <section id="welcome">
            <p>Hi, {{username}}.</p>
            <button id="logout">Logout</button>
        </section>
    {% endif %}
        <script>
    // <script src="{{ url_for('static', filename='scripts.js') }}">
        function formToJSON(form) {
            const fd = new FormData(form);
            return Object.fromEntries(fd.entries());
        }

        const register_form = document.getElementById('register_form');
        if (register_form) {
            register_form.addEventListener('submit', async (e) => {
                e.preventDefault();
                const body = JSON.stringify(formToJSON(register_form));
                const res = await fetch('/api/register', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body
                });
                const data = await res.json();
                if (data.ok) {
                    location.reload();
                } else {
                    console.log(data.error);
                }
            });
        }

        const login_form = document.getElementById('login_form');
        if (login_form) {
            login_form.addEventListener('submit', async (e) => {
                e.preventDefault();
                const body = JSON.stringify(formToJSON(login_form));
                const res = await fetch('/api/login', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body
                });
                const data = await res.json();
                if (data.ok) {
                    location.reload();
                } else {
                    console.log(data.error);
                }
            });
        }

        const logout = document.getElementById('logout');
        if (logout) {
            logout.addEventListener('click', async () => {
                await fetch('/api/logout', { method: "POST"});
                location.reload();
            });
        }
    </script>
    </body>
</html>